
@-webkit-keyframes my {
    0% { color: #ff0000; } 
    50% { color: rgb(255, 255, 255);  } 
    100% { color: #ff0000;  } 
}
@-moz-keyframes my { 
    0% { color: #ff0000;  } 
    50% { color: #fff;  }
    100% { color: #ff0000;  } 
}
@-o-keyframes my { 
    0% { color: #ff0000; } 
    50% { color: #fff; } 
    100% { color: #ff0000;  } 
}
@keyframes my { 
    0% { color: #ff0000;  } 
    50% { color: #fff;  }
    100% { color: #ff0000;  } 
} 
.IL {
    -webkit-animation: my 700ms infinite;
    -moz-animation: my 700ms infinite; 
    -o-animation: my 700ms infinite; 
    animation: my 700ms infinite;
}
